<%= form_with model: @guesthouse do |f| %>

  <% if @guesthouse.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @guesthouse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <fieldset>
    <legend>Dados</legend>
    <div>
      <%= f.label :brand_name %>
      <%= f.text_field :brand_name %>
    </div>

    <div>
      <%= f.label :corporate_name %>
      <%= f.text_field :corporate_name %>
    </div>

    <div>
      <%= f.label :registration_number %>
      <%= f.text_field :registration_number %>
    </div>

    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  <fieldset>

  <fieldset>
    <legend>Endereço</legend>
    <%= f.fields_for :address do |af| %>
      <div>
        <%= af.label :street %>
        <%= af.text_field :street %>
      </div>

      <div>
        <%= af.label :neighborhood %>
        <%= af.text_field :neighborhood %>
      </div>

      <div>
        <%= af.label :city %>
        <%= af.text_field :city %>
      </div>

      <div>
        <%= af.label :state %>
        <%= af.select :state, Address.states.keys.map { |state| [state.to_s, state] } %>
      </div>

      <div>
        <%= af.label :postal_code %>
        <%= af.text_field :postal_code %>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Dados Adicionais</legend>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div>
      <%= f.label :use_policy %>
      <%= f.text_area :use_policy %>
    </div>

    <div>
      <%= f.label :pets %>
      <%= f.check_box :pets %>
    </div>

    <div>
      <%= f.label :status %>
      <%= f.check_box :status %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Horários</legend>
      <div>
        <%= f.label :checkin %>
        <%= f.time_select :checkin %>
      </div>

      <div>
        <%= f.label :checkout %>
        <%= f.time_select :checkout %>
      </div>
  </fieldset>

  <fieldset>
    <legend>Métodos de Pagamento</legend>
      <% Guesthouse::PAYMENT_METHODS.each do |method| %>
        <%= f.check_box :payment_method, { multiple: true }, method, nil %>
        <%= f.label :payment_method, I18n.t("payment_methods.#{method}"), value: method %>
      <% end %>
  </fieldset>

  <div>
    <%= f.submit %>
    <%= link_to 'Voltar', root_path %>
  </div>
  
<% end %>