<% @rooms.each do |r| %>
  <h1><%= r.name %></h1>
  <h3><%= r.description %></h3>

  <dl>
    <dt>Tamanho:</dt>
    <dd><%= r.size %>m</dd>
    <dt>Acomodação Máxima:</dt>
    <dd><%= r.max_capacity %> Hóspedes</dd>
    <dt>Valor da Diária:</dt>
    <dd><%= number_to_currency(r.daily_rate, unit: 'R$', separator: ',', delimiter: '.', format: "%u %n") %></dd>
    <dt>Banheiro:</dt>
    <dd><%= r.bathroom == true ? 'Sim' : 'Não' %></dd>
    <dt>Varanda:</dt>
    <dd><%= r.balcony == true ? 'Sim' : 'Não' %></dd>
    <dt>Ar Condicionado:</dt>
    <dd><%= r.air_conditioning == true ? 'Sim' : 'Não' %></dd>
    <dt>TV:</dt>
    <dd><%= r.tv == true ? 'Sim' : 'Não' %></dd>
    <dt>Guarda-Roupa:</dt>
    <dd><%= r.closet == true ? 'Sim' : 'Não' %></dd>
    <dt>Cofre:</dt>
    <dd><%= r.safe == true ? 'Sim' : 'Não' %></dd>
    <dt>Acessibilidade:</dt>
    <dd><%= r.accessibility == true ? 'Sim' : 'Não' %></dd>
    <dt>Disponível:</dt>
    <dd><%= r.status == true ? 'Sim' : 'Não' %></dd>
  </dl>

  <% if user_signed_in? && current_user.id == @guesthouse.user_id %>
    <p><%= link_to "Editar #{r.name}", edit_guesthouse_room_path(@guesthouse, r) %></p>
  <% end %>
<% end %>