<h1>Pousada <%= @guesthouse.brand_name %></h1>
<h2><%= @guesthouse.description %></h2>

<dl>
  <dt>Endereço:</dt>
  <dd><%= @guesthouse.address.street %> - <%= @guesthouse.address.neighborhood %>, 
      <%= @guesthouse.address.city %> - <%= @guesthouse.address.state %></dd>
  <dt>Checkin:</dt>
  <dd><%= @guesthouse.checkin.strftime("%H:%M") %></dd>
  <dt>Checkout:</dt>
  <dd><%= @guesthouse.checkout.strftime("%H:%M") %></dd>
  <dt>Pets:</dt>
  <dd><%= @guesthouse.pets ? 'Permitido' : 'Proibido' %></dd>
  <dt>Política de Uso:</dt>
  <dd><%= @guesthouse.use_policy %></dd>
</dl>

<section>
  <h3>Quartos Disponíveis:</h3>
  <%= render 'rooms' %>
</section>

<% if user_signed_in? && current_user.id == @guesthouse.user_id %>
  <dl>
    <dt>CNPJ:</dt>
    <dd><%= @guesthouse.registration_number %></dd>
    <dt>Razão Social:</dt>
    <dd><%= @guesthouse.corporate_name %></dd>
  </dl>
  <%= link_to 'Editar Pousada', edit_guesthouse_path(@guesthouse) %>
  <%= link_to 'Cadastrar Quarto', new_guesthouse_room_path(@guesthouse) %>
<% end %>
<%= link_to 'Voltar', root_path %>