<% if user_signed_in? && current_user.owner? && current_user.guesthouse.nil? %>
  <section>
    <div>
      <%= link_to 'Cadastrar Pousada', new_guesthouse_path %>
    </div>
  </section>
<% end %>

<section>
  <h2>Pousadas Recentes</h2>
  <% if @recent_guesthouses.empty? %>
    <p>Não há pousadas recentes.</p>
  <% else %>
    <% @recent_guesthouses.each do |guesthouse| %>
      <dl>
        <dt><%= link_to guesthouse.brand_name, guesthouse_path(guesthouse) %></dt>
        <dd><%= guesthouse.address.city %></dd>
      </dl>
    <% end %>
  <% end %>
</section>

<section>
  <h2>Outras Pousadas</h2>
  <% if @other_guesthouses.empty? %>
    <p>Não há outras pousadas cadastradas.</p>
  <% else %>
    <% @other_guesthouses.each do |guesthouse| %>
      <dl>
        <dt><%= link_to guesthouse.brand_name, guesthouse_path(guesthouse) %></dt>
        <dd><%= guesthouse.address.city %></dd>
      </dl>
    <% end %>
  <% end %>
</section>